<header id="header">
  <div class="container-fluid">

    <nav class="nav-menu-container fixed-bottom bg-dark">

        <div id="logo" class="pull-left">
          <h1><a href="/" class="scrollto">Home</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <ul class="nav-menu">
            {% if session.logged_in %}
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="/register">Register</a></li>
            <li><a class="dropdown-item" href="/login">Login</a></li>
            {% endif %}

          </ul>

      </div>
    </nav>

  </div>
</header><!-- #header -->

