{% extends 'layout.html' %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

  </head>


{% block body %}
  <body>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Welcome</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/accomplishment">
		Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/viewByType">
		AggregateByCategory <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/viewByMonth">
		AggregateByMonth
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

          <div class="table-responsive">
		  {% for group in AccItems|groupby('type')%}
		  <h3>Category: {{group.grouper}}</h3> 
            <table class="table table-striped table-sm">
              <thead>
                <tr>
		  <th style="width: 33.33%">Date</th>
		  <th style="width: 33.33%">Event</th>
                  <th style="width: 33.33%">Category</th>
                </tr>
              </thead>
              <tbody>
		{% for AccItem in group.list %}
                <tr class='content'>
		  <td>{{AccItem.added_date}}</td>
		  <td>{{AccItem.item}}</td>
		  <td>{{AccItem.type}}</td>
                </tr>
		{% endfor %}
              </tbody>
            </table>
	    {% endfor %}
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


  </body>

{% endblock %}
</html>

